html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

.calculator {
	background-color: aqua;
	padding:30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

input {
	padding:10px;

}

button {
	height: 40px;
	width: 40px;
	background-color: green;
}